
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1em;
}

input {
    padding: 1em;
    margin: 1em auto;
    width: 90%;
    max-width: 30em;
    border-style: none;
    border-radius: 0.5em;
}